In [1]:
import pingouin as pg
import pandas as pd

Loading Data

In [2]:
cvd_data = pd.read_csv("cvd.csv")

In [3]:
cvd_data

,Single condition (CVD),CVD and at least one other condition,Non-cardiovascular comorbidities,No known comorbidities
0,11.25,23.61,17.58,11.34
1,1.63,4.44,13.85,22.15
2,17.18,5.88,28.20,1.81
3,8.14,10.62,7.03,8.97
4,18.56,2.35,6.04,8.36
...,...,...,...,...
268,NaN,NaN,NaN,13.59
269,NaN,NaN,NaN,13.78
270,NaN,NaN,NaN,9.51
271,NaN,NaN,NaN,15.92
272,NaN,NaN,NaN,7.82

Converting Data into Long Format (One Row One Observation)

In [4]:
cvd_data_cleaned = cvd_data.melt(var_name='CVD Diagnosis', value_name='Telomere Length').dropna()

In [5]:
cvd_data_cleaned

               CVD Diagnosis  Telomere Length
0     Single condition (CVD)            11.25
1     Single condition (CVD)             1.63
2     Single condition (CVD)            17.18
3     Single condition (CVD)             8.14
4     Single condition (CVD)            18.56
...                      ...              ...
1087  No known comorbidities            13.59
1088  No known comorbidities            13.78
1089  No known comorbidities             9.51
1090  No known comorbidities            15.92
1091  No known comorbidities             7.82

[615 rows x 2 columns]

Descriptive Statistics

In [6]:
cvd_data.describe()

,Single condition (CVD),CVD and at least one other condition,Non-cardiovascular comorbidities,No known comorbidities
count,105.000000,65.000000,172.000000,273.000000
mean,9.626000,13.518615,12.307558,10.647949
std,7.478391,9.846984,8.876451,7.443969
min,0.240000,0.080000,1.220000,1.170000
25%,4.840000,6.950000,6.070000,5.560000
50%,7.730000,9.620000,10.015000,8.540000
75%,12.640000,17.790000,15.535000,13.260000
max,38.800000,52.920000,47.690000,38.830000

In [7]:
cvd_data_cleaned.describe()

       Telomere Length
count       615.000000
mean         11.241024
std           8.218344
min           0.080000
25%           5.590000
50%           9.040000
75%          13.855000
max          52.920000

Kruskal-Wallis (H-Test)

In [8]:
kw = pg.kruskal(data=cvd_data_cleaned, dv="Telomere Length", between="CVD Diagnosis", detailed=True)

In [9]:
kw

                Source  ddof1          H     p-unc
Kruskal  CVD Diagnosis      3  11.913735  0.007685

H-Statistic → η² → Cohen's f

In [10]:
sample_size = 615
groups = 4

In [11]:
kw_H = kw['H'].squeeze()
kw_n2 = (((kw_H - groups) + 1)/(sample_size-groups))
kw_cohens_f = ((kw_n2/(1-kw_n2))**0.5)

In [14]:
print(f"Sample Size: {sample_size}")
print(f"No. groups {groups}")
print(f"Effect size (η²): {kw_n2}")
print(f"Cohen's f of the test is: {kw_cohens_f.round(3)}")
print(f"Computed Power is: 0.717 (sample size adjusged to 616) (G*Power)")

Sample Size: 615
No. groups 4
Effect size (η²): 0.014588764566894204
Cohen's f of the test is: 0.122
Computed Power is: 0.717 (sample size adjusged to 616) (G*Power)